.app-menu{
    height: 100vh;
    overflow: auto;
}
.app-head{
    height: 100%;
    padding: 20px 5px;
    background-color: #409EFF20;
}
.el-menu {
    border-right: solid 1px #e6e6e6;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
    background-color: #409EFF20;
}

.el-header {
    padding: 0 0;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: hidden;
}